<div [ngClass]="{'phone-wrapper' : isPhonePortrait, 'main-page_wrapper': isBigScreen}">
    <div class="container1">
        <div   class="main-page_info_wrapper" >
        <div class="user-photo_wrapper">
            <img [src]="selfUserProfile?.data?.icon?.url ? selfUserProfile.data.icon.url : '../../../../usernonephoto.png'" alt="photo" class="user-photo">
            <button class="user-photo-change_btn" (click)="showChangeImageModal()">
                Змінити
            </button>

        </div>
        <form class="form-wrapper" (ngSubmit)="userProfile(user)" [formGroup]="user">
            <div class="form-group">
                <div class="input_header">Ім’я: {{selfUserProfile.data.name}}</div>
                <input type="text"
                       class="form-control"
                       placeholder="Введіть нове ім'я"
                       formControlName="name"
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('name')?.hasError('minlength')) && user.get('name')?.touched">
                  Введіть коректне ім'я
                </div>
              </div>

              <div class="form-group">
                <div class="input_header">Прізвище: {{selfUserProfile.data.surname}}</div>
                <input type="text"
                       class="form-control"
                       placeholder="Введіть нове прізвище"
                       formControlName="surname"
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('surname')?.hasError('minlength')) && user.get('surname')?.touched">
                  Введіть коректне прізвище
                </div>
               
              </div>

              <div class="form-group">
                <div class="input_header">Ім’я користувача: {{selfUserProfile.data.userName}}</div>
                <input type="text"
                       class="form-control"
                       placeholder="Введіть новий username"
                       formControlName="userName"
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('userName')?.hasError('minlength')) && user.get('userName')?.touched">
                  Введіть коректний username
                </div>
               
              </div>

              <div class="form-group">
                <div class="input_header">Email: {{selfUserProfile.data.email}}</div>
                <input type="email"
                       class="form-control"
                       placeholder="Введіть новий email"
                       formControlName="email"     
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('email')?.hasError('minlength')) && user.get('email')?.touched">
                  Введіть коректний email
                </div>
                
              </div>

            <div class="form-group">
                <div class="input_header">Номер телефону: {{selfUserProfile.data.phoneNumber}}</div>
                <input type="text"
                       class="form-control"
                       placeholder="Введіть новий номер телефону"
                       formControlName="phoneNumber"
                       phoneMask
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('phoneNumber')?.hasError('minlength')) && user.get('phoneNumber')?.touched">
                  Введіть коректрий номер телефону, формат 380XXXXXXXXX
                </div>
                
              </div>

              <div class="form-group">
                <div class="input_header">Дата народження: {{selfUserProfile.data.birthDate}}</div>
                <mat-form-field appearance="fill">
                  <mat-label>Виберіть нову дату</mat-label>
                  <input matInput [matDatepicker]="picker" class="datepicker-input" formControlName="birthDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="activeRole === 'gardener'">
             <div class="input_header">Міста обслуговування:</div>
              <mat-form-field class="example-chip-list">
                <mat-label>Міста обслуговування</mat-label>
                <mat-chip-grid #chipGrid aria-label="Вибір міста">
                  <mat-chip-row *ngFor="let city of cities" (removed)="removeCity(city)">
                    {{city}}
                    <button matChipRemove [attr.aria-label]="'remove ' + city">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="Додати місто..." #fruitInput [formControl]="cityCtrl"
                  [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addCity($event)"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCity($event)">
                  <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
                </div>
              <hr *ngIf="activeRole === 'gardener'"/>

              <div class="form-group" *ngIf="activeRole === 'gardener'">
                <div class="input_header">Про себе:</div>
                <textarea 
                  id="comment" 
                  rows="4" 
                  class="form-control" 
                  placeholder="Напишіть про себе тут..." 
                  style=" height: 412px;  resize: none;" 
                  formControlName="description">
                </textarea>
              </div>

              <div class="form-group" *ngIf="activeRole === 'gardener'">
                <div class="input_header">Досвід роботи:</div>
                <textarea 
                  id="comment" 
                  rows="4" 
                  class="form-control" 
                  placeholder="Введіть ваш досвід тут..." 
                  style=" height: 412px;  resize: none;" 
                  formControlName="descriptionOfExperience">
                </textarea>
              </div>
              <div class="btn-container">
                <button type="submit" class="btn-comfirm" >Зберегти зміни</button>
                <button type="submit" class="btn-lookprofile"  *ngIf="activeRole === 'gardener'">Переглянути профіль</button>
              </div>
          </form>
        </div>
        <app-successfull-update-profile
          *ngIf="isProfileUpdatedSuccessfully" 
          (close)="isProfileUpdatedSuccessfully = false"
        ></app-successfull-update-profile>
    </div>
</div>

<app-change-image-window 
*ngIf="isImageSuccessfully" 
(close)="isImageSuccessfully = false"
(imageChanged)="handleImageChange($event)"
></app-change-image-window>
