<div class="background-restore-password">
    <div class="container">
      <div class="restore-password__wrapper">
        <div class="restore-password__window">
          <h1 class="header">Відновлення паролю</h1>
          <ng-container *ngIf="!emailSent; else emailSentMessage">
            <form (ngSubmit)="restorePassword()" [formGroup]="restoreForm">
              <div class="form-group">
                <div class="subheader-exp">Введіть електронну адресу, яку ви використовували для реєстрації, і ми надішлемо вам інструкції</div>
                <input type="text"
                  class="form-control"
                  placeholder="Електронна адреса"
                  formControlName="email"
                >
                <div
                class="invalid-feedback d-block"
                *ngIf="restoreForm.get('email')?.hasError('email') && restoreForm.get('email')?.touched">
                Введіть коректний e-mail
                </div>

                <button type="submit" class="btn-restore">Відновити пароль</button>
                <div class="btn-back">
                  <a (click)="goToLogin()" > < Повернутись до входу </a>
                </div>
              </div>
            </form>
          </ng-container>
          <ng-template #emailSentMessage>
            <h1 class="email-sent-message">Повідомлення відправлене. Перевірте пошту.</h1>
            <div class="btn-back">
              <a (click)="goToLogin()" > < Повернутись до входу </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  