.service_wrapper {
    margin-top: 24px;
    min-height: 1700px;
}

.custom-checkbox {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid rgb(131, 223, 137);
    background-color: #83DF89 scale(0);
    vertical-align: sub;

    position: absolute;
}


.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/info/check-mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 3px;
}

.real-checkbox {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}

.real-checkbox:focus+.custom-checkbox {
    box-shadow: 0px 0px 0px 1px #83DF89, 0px 0px 10px #83DF89;
}

.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:checked+.custom-checkbox {
    background-color: #83DF89;
    transform: scale(1);
}
.service-title {
    width: 1270px; //100%
    height: 67px;
    border-radius: 10px;
    color: #000;
    font-size: 23px;
    font-weight: 500;
}

.service-title-active {
    background: #83DF89;
}

.service-name-checkbox {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

input[type="checkbox"]:checked {
    background-color: #83DF89;
}

.service-child-name {
    color: #000;
    font-size: 23px;
    font-weight: 400;
}

.service-child_wrapper {
    margin: 20px 0;
}

.choosed-services_wrapper {
    .choosed-services_header {
        margin: 60px 0 16px 0;
        color: #000;
        font-size: 30px;
        font-weight: 500;
    }

    .type-of-work_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .type-of-work {
            display: flex;
            padding: 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 15px;
            background: #E7E7E7;
            color: #A5A5A5;
            font-size: 18px;
            font-weight: 400;
            margin: 0 10px 10px 0;
        }
    }
}

.service-btn_wrapper {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .service-btn {
        display: flex;
        width: 309px; // 100px
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 18px;
        border: 3px solid #83DF89;
        background: #83DF89;
        color: #000;

        font-size: 25px;
        font-weight: 600;
        transition: color 0.2s ease;
    }
    .service-btn:hover{
        color: #fff;
    }
}

.phone-service-wrapper {
    .choosed-services_header {
        margin: 10px 0 16px 0;
        color: #000;
        font-size: 30px;
        font-weight: 500;
        width: 92;
        
        font-size: 18px;
    }

    .type-of-work_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 327px;
    }

    .service-title {
        width: 100%; //100%
        height: 67px;
        border-radius: 10px;
        color: #000;
        font-size: 23px;
        font-weight: 500;
    }

    .service-btn_wrapper {
        margin-top: 37px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .service-btn {
            display: flex;
            width: 156px;
            height: 40px; // 100px
            padding: 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 18px;
            border: 3px solid #83DF89;
            background: #83DF89;
            color: #000;
            margin-bottom: 69px;
            font-size: 15px;
            font-weight: 600;
        }
    }
}
@media screen and (max-width: 763px) {
    .service_wrapper {
        min-height: 1300px;
    }
.container{
    margin-top: 20px;
}
    .custom-checkbox {
        width: 15px;
        height: 15px;
        border-radius: 3px;
    }
    
    .custom-checkbox::before {
        width: 11px;
        height: 15px;
    }
    
    .real-checkbox {
        width: 15px;
        height: 15px;
    }
    
    .real-checkbox:focus+.custom-checkbox {}
    
    .real-checkbox:checked+.custom-checkbox::before {}
    
    .real-checkbox:checked+.custom-checkbox {}
    
    .service-title {
        width: auto;
        height: 30px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .service-title-active {}
    
    .service-name-checkbox {}
    
    input[type="checkbox"]:checked {}
    
    .service-child-name {
        font-size: 12px;
        font-weight: 400;
    }
    
    .service-child_wrapper {
        margin: 0 0;
        height: auto;
        .mat-mdc-icon-button{
            width: auto;
        }
    }
    
    .choosed-services_wrapper {
        .choosed-services_header {}
    
        .type-of-work_list {
            .type-of-work {}
        }
    }
    
    .service-btn_wrapper {
        .service-btn {}
    }
    
    .phone-service-wrapper {
        .choosed-services_header {}
    
        .type-of-work_list {}
    
        .service-title {
            width: auto;
            height: 30px;
            font-size: 12px;
            font-weight: 500;
        }
    
        .service-btn_wrapper {
            .service-btn {}
        }
    }
    
    
}