.container{
    max-width: 1350px;
    min-height: 100vh;

    .header_wrapper{
        margin-top: 34px;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 55px;
        margin-bottom: 48px;
        .img_wrapper{

            .profile_img{
                width: 280px;
                height: 280px;
            }
        }

        .data_wrapper{

            .profile_username{
                color: #000;
                font-size: 35px;
                font-weight: 600;
            }
    
            .profile_fullname{
                margin-top: 40px;
                color: #000;
                font-size: 22px;
                font-weight: 500;
            }

            .order_subtitle{
                margin-top: 15px;
                display: flex;
                color: #000;
                font-size: 18px;
                font-weight: 400;
            
                span{
                    margin-left: 9px;
                }
            }

            .profile_message{
                margin-top: 40px;
                display: flex;
                width: 265px;
                padding: 21px 0;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background: #000;
                box-shadow: 0px 15px 30px -10px rgba(124, 90, 246, 0.18);

                color: #FFF;
                font-size: 20px;
                font-weight: 700;
            }
        }
        
    }

    .projects_wrapper{
        margin-top: 46px;
        
        .projects_title{
            margin: 0 auto;
            color: #000;
            font-size: 25px;
            font-weight: 400;
            width: 350px;
        }

        .list_wrapper{
            margin-top: 46px;
            display: flex;
            justify-content: space-between;
            align-items:baseline;
        }
    }
}

