<div class="chat-container">
    <div class="inner-chat-container">
        <div class="main-chat-container">
            <div class="chat-header">
                <div class="chat-header-img-wrapper">
                    
                    <div class="chat-header-img-wrapper">
                        <img src={{imageHandler()}} alt="user" class='chat-header-img'/>
                    </div>
                    <div class="chat-header-username">{{selectedChat?.interlocutorProfile?.userName}}</div>
                </div>
                <hr style="border: 2px solid #83DF89;">
            </div>
            <div class="main-chat-and-submit">
                <div class="chat-main"> 
                    <ng-container *ngFor="let message of selectedChat?.chatMessages">
                        <div [ngClass]="{'chat-text-right-wrapper': isCurrentUser(message.senderUserId), 'chat-text-left-wrapper': !isCurrentUser(message.senderUserId)}">
                          <div class="chat-text">{{ message.message }}</div>
                          <div class="chat-time">{{ message.publicationDate | date:'shortTime' }}</div>
                        </div>
                      </ng-container>
                </div>
                <div class="chat-footer">
                    <input class="chat-footer__input" 
                        [(ngModel)]="messageText" 
                        placeholder="Напишіть повідомлення" 
                        (keyup.enter)="sendMessage()"
                    />
                    <button 
                        class="chat-footer__btn" 
                        (click)="sendMessage()"
                    >
                        <img src="../../../../assets/send-message.png" alt="send" class="send-icon"/>
                    </button>
                </div>
            </div>  
        </div>
    </div>
</div>
