.container{
    max-width: 1350px;
    min-height: 100vh;
}

.list_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:baseline;
}

.no-data{
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
}