.background-new-password{
    height: 100%;
    width: 100%;
    background:linear-gradient(242deg, #ECECEC 25.7%, #83DF89 79.59%);
}
.container{
    .new-password__wrapper{
        position: relative;
        top: 15%;
    }

    .example-chip-list {
        width: 434px;
      }
    .new-password__window{
        margin: 0 auto;
        padding: 93px 115px ;
        width: 668px;
        height: 756px;
        flex-shrink: 0;
        border-radius: 60px;
        background: #FFF;
        box-shadow: 14px 14px 32px 13px rgba(0, 0, 0, 0.20);
    }
    .header{
        color: #000;
        font-size: 41px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        margin-bottom: 62px;
    }
   
    .form-control{
        display: block;
        margin: 0px auto;
        width: 434px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid rgba(147, 144, 144, 0.82);
        background: rgba(0, 0, 0, 0.00);
        color: rgba(0, 0, 0, 0.78);
        font-size: 16px;
        font-weight: 400;
    }
   
    .btn-restore{
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        width: 434px;
        padding: 21px 21px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(209, 209, 209, 0.82);
        background: #000;
        box-shadow: 0px 15px 30px -10px rgba(124, 90, 246, 0.18);
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .form-group{
        width: 100%;
    }

    .form-price{
        margin: 0 auto;
        width: 435px;
        display: flex;
        justify-content: space-around;
    }

    .form-cost{
        width: 150px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid #797979;
        color: #797979;
        font-size: 23px;
        font-weight: 400;
    }
    .subheader-exp{
        margin-top: 33px;
        color: #797979;
        font-size: 23px;
        font-weight: 400;
        text-align: start;
    }
    .subheader-city{
        margin-top: 33px;
        color: #797979;
        font-size: 23px;
        font-weight: 400;
        text-align: start;
    }
    .subheader-price{
        margin-top: 28px;
        color: #797979;
        font-size: 23px;
        font-weight: 400;
        text-align: start;
    }
    
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center; 
}

.password-input-container input {
    width: 100%;
}

.password-toggle {
    position: absolute;
    right: 10px; 
    cursor: pointer;
}

.password-input-container input::after {
    content: "\u2714";
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 400;
    color: rgba(83, 83, 83, 0.78);
    cursor: pointer;
}

.password-input-container input[type="password"]::after {
    content: "\u2714";
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 400;
    color: rgba(83, 83, 83, 0.78);
    cursor: pointer;
}
