.container {
    max-width: 1350px;
    min-height: 100vh;

    .header_wrapper {
        margin-top: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
        margin-bottom: 48px;

        .img_wrapper {

            .profile_img {
                width: 280px;
                height: 280px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }

        .data_wrapper {

            .profile_username {
                color: #000;
                font-size: 35px;
                font-weight: 600;
            }

            .profile_fullname {
                margin-top: 40px;
                color: #000;
                font-size: 22px;
                font-weight: 500;
            }

            .order_subtitle {
                margin-top: 15px;
                display: flex;
                color: #000;
                font-size: 18px;
                font-weight: 400;

                span {
                    margin-left: 9px;
                }
            }

            .profile_message {
                margin-top: 40px;
                display: flex;
                width: 265px;
                padding: 21px 0;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background: #000;
                box-shadow: 0px 15px 30px -10px rgba(124, 90, 246, 0.18);

                color: #FFF;
                font-size: 20px;
                font-weight: 700;
            }
        }

    }

    .projects_wrapper {
        margin-top: 46px;

        .projects_title {
            margin: 0 auto;
            color: #000;
            font-size: 25px;
            font-weight: 400;
            width: 480px;
            display: flex;
            justify-content: center;
        }

        .list_wrapper {
            margin-top: 46px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }
}

@media screen and (max-width: 768px) {
    .button_wrapper{
        display: flex;
        justify-content: center
    }
    .container {
        .header_wrapper {
            margin-top: 61px;
            gap: 0;
            flex-direction: column;
            align-items: center;

            .img_wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                .profile_img {
                    width: 70%;
                    height: 70%;
                }
            }

            .data_wrapper {
                width: 100%;
                .profile_username {
                    margin-top: 12px;
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                }

                .profile_fullname {
                    font-size: 24px;
                    margin-top: 12px;
                    display:flex;
                    justify-content: center
                }

                .order_subtitle {
                    margin-top: 12px;
                    justify-content: center;
                    span {
                        font-size: 12px;
                        margin-left: 7px;
                    }
                }

                .profile_message {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .projects_wrapper {
            .projects_title {}

            .list_wrapper {
                flex-direction: column;
                align-items: normal;
            }
        }
    }

    .order {
        width: auto;
    }

}