<section class='notifications_wrapper'>
  <div class="container">
    <div class="notifications_header">Сповіщення</div>
    <div class="notifications-subheader_wrapper">
      <div class="notifications-subheader">Замовлення</div>
      <div class="notifications-subheader">Кандидат</div>
    </div>
    <div *ngIf="notifications && notifications.length > 0; else noNotifications">
      <div class="notifications-orders-list_wrapper">
        <div class="notifications-orders_wrapper" *ngFor="let notification of notifications">
          <div class="notifications-orders_header">{{notification.message}}</div>
          <div class="notifications-orders_user" (click)="viewAuthor(notification.senderUserId)">
            {{userProfiles[notification.senderUserId] || 'Loading...'}}
          </div>
          <div class="notifications-btn_wrapper">
            <button class="btn_decline" (click)="deleteNotification(notification.id)">Відхилити</button>
            <button class="btn_accept" (click)="onConfirm(notification)">Підтвердити</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noNotifications>
      <div class="notifications-empty">Нема сповіщень...</div>
    </ng-template>
  </div>
</section>
